body {
    background-color: #414141;
    color: white;
    width: 300px;
    font: 14px Roboto, sans-serif;
}

.header-row {
    display: flex;
    padding: 10px;
}

.header-title {
    font-size: 18px;
}

.header-icon {
    height: 10px;
    width: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transform: scale(0.2);
    margin-top: -8px;
}

.header-version {
    color: #cbcbcb;
    font-size: 10px;
    margin-left: auto;
}

.stats-row {
    max-height: 400px;
    overflow-y: auto;
}
