body {
    background-color: #414141;
    color: white;
    width: 300px;
    font: 14px Roboto, sans-serif;
}

.header-row {
    display: flex;
    padding: 10px;
}

.header-title {
    font-size: 18px;
}

.header-version {
    color: #cbcbcb;
    font-size: 10px;
    margin-left: auto;
}

.stats-row {
    max-height: 400px;
    overflow-y: auto;
}
